.gamefield {
    .game-square-wrapper {
        display: flex;
        margin: 10px auto;
        flex-wrap: wrap;
        justify-content: center;
    }
    .message {
        height: 20px;
    }
}

